body {
  font-family: Arial, Helvetica, sans-serif;
}

/* a {
  text-decoration: none;
  cursor: pointer;
  color: black;
}

a:visited {
  color: black;
} */

/* a.active {
  font-weight: bold;
  color: crimson;
} */

.logout,
h4 {
  cursor: pointer;
}

.backToHome a {
  text-decoration: underline;
  color: brown;
  font-weight: bold;
}

.breadcrumbs {
  max-width: 1200px;
  margin: 20px auto;
}

.breadcrumbs>* {
  display: inline-block;
  margin-right: 10px;
}

.breadcrumbs .crumb:after {
  content: ">";
  margin-left: 10px;
  color: #7e7e7e;
}

.breadcrumbs .crumb:last-child:after {
  display: none;
}

.breadcrumbs .crumb a {
  color: #7e7e7e;
  font-weight: 600;
  text-decoration: underline;
}

.landingProfilePicture{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-left: 20px
}